
<div class="container">
<li class="list-group-item-primary list-group-item text-capitalize">
    transaction form with bullion traders
</li>
</div>
<div class="container my-3">
    <ul class="nav">
        
        <li class="nav-item">
          <a class="nav-link" href="/bullion/bullionClients">View Bullion Clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/bullion/bullonTransactions">View Transactions</a>
        </li>
        
      </ul>
</div>
<!---------------------------------------------------------------------->

<form method="POST" action="/bullion/addBullionTransaction">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 bg-light bullionTypeTransaction">
                <div class="form-check mb-3">
                    <input required class="form-check-input" type="radio" name="transactionType" value="sell_bullion" id="transactionTypeSell" oninput="bullionFunc1(event,'.sellBullionForm','.buyBullionForm')">
                    <label class="form-check-label" for="transactionTypeSell">
                    <span class="text-capitalize text-secondary">
                        Sell Bullion
                    </span>
                    </label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="transactionType" value="buy_bullion" id="transactionTypeBuy" oninput="bullionFunc1(event,'.buyBullionForm','.sellBullionForm')">
                    <label class="form-check-label" for="transactionTypeBuy">
                    <span class="text-secondary text-capitalize">
                        Buy Bullion
                    </span>
                    </label>
                </div>   
            </div>
            <div class="col-md-6 col-sm-12 bg-white">
                <div class="input-group mb-1">
                    <span class="input-group-text" id="date">Date</span>
                    <input required type="date" name="date" class="form-control dateClass" placeholder="date" aria-label="date" aria-describedby="date" onclick="dateLimit('.dateClass')">
                </div>
            </div>
            <div class="col-md-6 col-sm-12 bg-light">
                <div class="input-group mb-1">
                    <label class="input-group-text" for="bullionTrader">Bullion Trader</label>
                    <select required class="form-select" name="clientId" id="bullionTrader" onchange="validateForm()">
                      <option value="">select Trader Name</option>
                      <% bullionClient.forEach((element)=>{%>
                      <option value="<%=element._id%>"><%=element.bullionClientName%></option><!--this will be fetched from the database-->
                      <%})%>
                    </select>
                </div>
                <div class="my-2">
                    <a href="/bullion/addBullionClientForm" style="text-decoration: none;font-size: small;">
                        <span class="text-capitalize">
                            Click to Add Trader To your list if not present in select
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

     

    <div class="container my-2 d-none buyBullionForm">
        <div class="row buyBullionFormRow">
            <div class="col-md-6 col-sm-12 my-2 bg-light">
                <span class="text-capitalize">
                    Select Transaction Status:
                </span>
                <div class="form-check my-2">
                    <input disabled required class="form-check-input" type="radio" name="transactionStatus" value="transactionComplete" id="transactionComplete" oninput="bullionFunc1(event,'.transactionCompleteForm','.transactionPendingForm')">
                    <label class="form-check-label text-secondary" for="transactionComplete">
                      Transaction Complete<br>
                      <span class="text-capitalize text-info" style="font-size: small;letter-spacing: 0.09rem;">if bullion is received and Payment is made</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="transactionStatus" value="transactionPending" id="transactionPending" oninput="bullionFunc1(event,'.transactionPendingForm','.transactionCompleteForm')">
                    <label class="form-check-label text-secondary" for="transactionPending">
                      Transaction Pending <br>
                      <span class="text-info text-capitalize" style="font-size: small;letter-spacing: 0.09rem;">if bullion is yet to be received & only booked with traders </span>
                    </label>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 transactionCompleteForm d-none">
                <select disabled required class="form-select" aria-label="Default select example" name="bullionType">
                    <option value="">select Type Of Bullion</option>
                    <option value="kachi">Kachi</option>
                    <option value="choursa">Choursa</option>
                    <option value="9999_bullion">9999 Bullion</option>
                  </select>
            </div>
            <div class="col-md-6 col-sm-12 my-2 d-none transactionPendingForm">
                <div class="input-group mb-3">
                    <span class="input-group-text">Bullion Wt:</span>
                    <input required disabled type="number" step="any" class="form-control" min=1 aria-type="weight" aria-label="bullionWeight" name="bullionWeight">
                    <span class="input-group-text">Grms</span>
                </div>
                <div class="mb-2">
                    <span class="text-info text-capitalize" style="font-size: small;">
                        Enter the weight you have booked to buy from your bullion trader
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 my-2 d-none bg-light transactionPendingForm">
                <div class="form-check">
                    <input disabled required class="form-check-input" type="radio" name="bullionRateStatus" id="bullionRateDecided" oninput="displayAction('.bullionRateStatus')">
                    <label class="form-check-label text-secondary" for="bullionRateDecided">
                      Bullion Rate Decided
                        <span class="text-capitalize text-info" style="font-size: small;">
                            If bullion rate is decided with the bullion trader.
                        </span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="bullionRateStatus" id="bullionRateNotDecided" oninput="hideAction('.bullionRateStatus')">
                    <label class="form-check-label text-secondary" for="bullionRateNotDecided">
                      Bullion Rate Not Decided
                        <span class="text-capitalize text-info" style="font-size: small;">
                            if bullion rate is not decided with the bullion trader.
                        </span>
                    </label>
                  </div>
            </div>
            <div class="col-md-6 col-sm-12 my-2 bg-light d-none bullionRateStatus">
                <div class="input-group mb-3">
                    <span class="input-group-text">Bullion Rate</span>
                    <input disabled required type="number" step="any" class="form-control" min=1 aria-type="amount" aria-label="bullionRate" name="bullionRate" oninput="calculateAmountEstimated('.buyBullionForm',['.amountInNumber','.amountInWords'],['bullionRate','bullionWeight'])">
                    <span class="input-group-text">Rs</span>
                </div>
                  <span class="text-capitalize text-info" style="font-size: small;">
                    bullion decided with the trader.
                  </span>
            </div>
            <div class="col-md-6 col-sm-12 my-2 d-none transactionPendingForm">
                <div class="form-check my-1">
                    <input required disabled class="form-check-input" type="radio" name="cashAmountStatus" id="cashAmountPaid" oninput="displayAction('.cashAmountStatus')">
                    <label class="form-check-label" for="cashAmountPaid">
                      <span class="text-secondary"> Approx Cash Amount Paid Or Agreed To Pay</span><br>
                      <span class="text-info text-capitalize" style="font-size: small;">
                        Select If Only Approx Amount Is paid.
                      </span>
                    </label>
                </div>
                <div class="form-check my-1">
                    <input required disabled class="form-check-input" type="radio" name="cashAmountStatus" id="cashAmountPending" oninput="hideAction('.cashAmountStatus')">
                    <label class="form-check-label" for="cashAmountPending">
                      <span class="text-secondary">No Cash Amount Yet To Pay</span> <br>
                      <span class="text-info text-capitalize" style="font-size: small;">Select If only no cash amount is paid</span>
                    </label>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 amountEstimated">
                <span class="text-capitalize text-muted">
                    Estimated Cash Amount :<span class="amountInNumber mx-2 text-danger">Not Decided</span><br>
                    <span class="amountInWords fw-bold">
                        
                    </span>
                </span>
            </div>
            <div class="col-md-6 col-sm-12 my-2 d-none cashAmountStatus">
                <div class="input-group mb-3">
                    <span class="input-group-text">Cash Payment</span>
                    <input disabled required type="number" step="any" min=0 value=0 class="form-control" aria-type="amount" aria-label="cashPayment" name="cashAmount" oninput="pendingAmount('.buyBullionForm',['.pendingCashAmount','.pendingCashAmountWord'],['.amountInNumber','cashAmount'])">
                    <span class="input-group-text">Rs</span>
                </div>
                <div>
                    Pending Cash Amount : <span class="mx-2 text-danger pendingCashAmount ">
                        Zero.
                    </span><br>
                    <span class="text-capitalize text-muted pendingCashAmountWord fw-bold">

                    </span>
                </div>
            </div>
           
            

        </div><!--buyBullionFormRow-->
    </div><!--buyBullionForm Div-->

    <div class="container my-2 d-none sellBullionForm">
        <div class="row sellBullionFormRow">
            <div class="col-md-6 col-sm-12 bg-white"><!--sell bullion-->
                <div class="input-group mb-3"><!--select the type of bullion to sell-->
                    <label class="input-group-text" for="sellBullionType">Select Bullion Type</label>
                    <select disabled required class="form-select" name="bullionType" id="sellBullionType" onchange="sellBullionTypeFunc()">
                      <option value="" >select type of bullion</option>
                      <option value="kachi">Kachi</option>
                      <option value="choursa">Choursa</option>
                      <option value="9999_bullion">9999 Bullion</option>
                    </select>
                </div>
                <li class="list-group-item list-group-item-danger  errorMsgBullionType d-none" style="font-size: small;">
                    *Please Select Correct Option.
                </li>
            </div>

        </div><!--sellBullionFormRow-->
    </div><!--selBullionForm Div-->
    <button type="button" onclick="validateForm()" class="btn btn-primary p-2 my-5 mx-3 submitButton">Add Transaction</button>
</form>




        
        
        
        
    


 

<!--js script-->
<script type="text/javascript" src="/bullionTransactionFormJS.js"></script>
<!--<script type="text/javascript" src="/sellBullionTransactionFormJS.js"></script>-->
